<h1><%=image_tag('football-banner')%></h1>
<div class="container">
<% if @user.admin == true %>
<h1>EDIT CONTEST</h1>
<%= render 'form' %>
<% else %>
<p style="color:red"><%= "You can not edit the contest" %></p>
<% end%>
</div>