<h1>FFF</h1>
<h2>Fanatsy Football Flatiron</h2>
<ol>
<% @contests.each do |contest| %>
    <li><%= link_to contest.name, contest_path(contest) %> <%= link_to "Join Contest", new_team_path %></li>
<% end %>
</ol>