<h1><%="Contest: " + @contest.name %></h1>
<h2><%="Budget $ " + @contest.budget.to_s %></h2>
<h2><%="Prize $ " + @contest.prize.to_s %></h2>
<ol>
    <% @contest.ranked_users.each do |user|%>
        <li><%= user.username + " " + user.score_for_contest(@contest).to_s %></li>
    <% end %>
<ol>