<h1><%=image_tag('football-banner')%></h1>
<h1>User Rank Page</h1>
<ol>
<% @users.each do |user| %>
    <li><%= link_to user.username, user_path(user) %><%=" $" + user.balance.to_s %></li>
<% end %>
</ol>