<h1><%=image_tag('football-banner')%></h1>
<div class="container">
<h1> PLAYERS</h1>


</div>

# @players_qb = @players.where(position: "QB")
# @players_rb = @players.where(position: "QB")
# @players_wr = @players.where(position: "QB")
# @players_te = @players.where(position: "QB")