// Place all the styles related to the players controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
// h1,h2 {
//     color: blue;
//     animation: mymove 5s infinite;
//   }


// @keyframes mymove {
//   50% {color: red;}
// }
.container {
  width: 90%;
  margin: 10px auto;
  padding: 10px;
  font-family: Oswald, Helvetica, Arial;
  color: #333332;
  font-weight: 700;
  font-size: 18px;
}

.container a:hover {
  color: purple;
}

.container a:visited {
  color: blue;
}

.column {
  float: left;
  width: 31%;
  padding: 10px;
}

.column1 {
  float: left;
  width: 20%;
  padding: 10px;
}
 hr {
   width: 50%;
   height: 2px;
   margin-left: auto;
   margin-right: auto;
   background-color: #8f8e8e;
   border: 0 none;
   margin-top: 500px;
   margin-bottom: 100px;
   
 }

