.login{  
  width: 382px;  
  overflow: hidden;  
  margin: auto;  
  margin: 20 0 0 450px;  
  padding: 80px;  
  background: #D0FFBF;    
  border-radius: 15px ;  
    
}  

.login h2{
  text-align: center;    
    padding: 20px;
}
