// Place all the styles related to the teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.container {
  width: 90%;
  margin:  auto;
  padding: 10px;
  font-family: Oswald, Helvetica, Arial;
  color: #333332;
  font-weight: 700;
  font-size: 18px;
}

.no_dotes li{
  list-style: none;
  margin: 5px;
}

.container a:hover {
  color: purple;
}

.container a:visited {
  color: blue;
}

