// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.container {
  width: 90%;
  margin: 10px auto;
  padding: 10px;
  font-family: Oswald, Helvetica, Arial;
  color: #333332;
  font-weight: 700;
  font-size: 18px;
}
.list ul {
  list-style: none;
}

.list li:before {
  content: "🏈";
  margin: 0 16px 0 0;
}

.container a:hover {
  color: purple;
}

.container a:visited {
  color: blue;
}

label {
  float: left;
  clear: left;
  width: 250px;
  text-align: left;
}
input {
  margin: 5px;
  display: inline-block;
  float: left;
}



